/* IMPORTING SIMILAR STYLE via GOOGLE FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito&display=swap');

/* SIMPLE BROWSER RESET  */
* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
}

/* SETTING UP VARIABLES FOR REUSED COLORS */
:root {
  --blue: #0000fe;
  --yellow: #ecc713;
  --black: #000;
  --white: #fff;
  --font: 'Anton', sans-serif;
}


/* SETTING UP GRID LAYOUT TO POSITION INNER BOXES  */
.animation-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem auto 0;
  padding: 1rem;
  background: var(--white);
  width: 800px;
  height: 700px;
}

/* SETTING UP BOX DEFAULT STYLES, EX - FONT SIZES, BORDERS  */
div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1px;
}

div:not(:nth-child(2)) {
  border: 2px solid var(--black);
}

.one {
  animation: one 3s infinite;
}

.two {
  background: var(--white);
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}

.two p {
  animation: two 3s infinite;
}

.three {
  position: relative;
  background: var(--blue);
}

.three p {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  animation: three 3s infinite;
}

/* ANIMATIONS  */
@keyframes one {
  0% {
    background: var(--blue);
    color: var(--white);
  }
  50% {
    background: var(--yellow);
    color: var(--black);
  }
  100% {
    background: var(--blue);
    color: var(--white);
  }
}

@keyframes two {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes three {
  0% {
    color: var(--black);
  }
  25% {
    top: 82%;
    color: var(--white);
  }
  50% {
    color: var(--black);
  }
  75% {
    top: 10%;
    color: var(--white);
  }
}

@keyframes three-text-color {
  0% {
    color: var(--black);
  }
  50% {
    color: var(--white);
  }
}